{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<div>
    <h1>Hello world ! ✅</h1>

    <h2 style="color:pink">{{ message.message }}</h2>

    This is so awesome <a href="{{ path('contact') }}">contact us</a>
</div>
{% endblock %}
